.card {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  padding: 25px;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.card:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.18);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6);
}

.icon {
  font-size: 45px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 22px;
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  opacity: 0.9;
}
