body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top, #0a0f29, #000000);
  color: white;
}

.main {
  text-align: center;
  padding: 40px 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  padding: 10px;
}

